<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://simplecrm0302.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>simplecrm0302.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SimpleCRM0302</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SimpleCRM0302</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CRMContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:simplecrm0302.database.windows.net,1433;Initial Catalog=SimpleCRM0302_db;User ID=dbadmin@simplecrm0302;Password=Get11lost" Name="Data Source=tcp:simplecrm0302.database.windows.net,1433;Initial Catalog=SimpleCRM0302_db;User Id=dbadmin@simplecrm0302;Password=Get11lost" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SimpleCRM.DAL.CRMContext, SimpleCRM" MigrationConfiguration="SimpleCRM.Migrations.Configuration, SimpleCRM" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CRMContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:simplecrm0302.database.windows.net,1433;Initial Catalog=SimpleCRM0302_db;User Id=dbadmin@simplecrm0302;Password=Get11lost</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>