@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>CRM Application</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my Simple CRM Application</h2>
        <p>This application was written in Microsoft ASP.NET MVC (C#).</p>
    </div>
    <div class="col col-md-4">
        <h2>Customers</h2>
        <p>You can create, update and delete customers, as well as find a customer based on their email.</p>
    </div>
    <div class="col-md-4">
        <h2>Addresses</h2>
        <p>Each customer can have up to five addresses associated with them, you can view a Customers Address book by visiting their details page.</p>
    </div>

</div>
